
footer.footer
	.container.text-center
		a.cc-facebook.btn.btn-link(href='https://www.facebook.com/guilhermegonzalezv')
			i.fa.fa-facebook.fa-2x(aria-hidden='true')
		a.cc-linkedin.btn.btn-link(href='#')
			i.fa.fa-linkedin.fa-2x(aria-hidden='true')
		a.cc-github.btn.btn-link(href='#')
			i.fa.fa-github.fa-2x(aria-hidden='true')
	.h4.title.text-center Guilherme Gonzalez
	.text-center.text-muted
		p
			br
script(type='text/javascript' src='/js/typescript.js')
script(src='/js/jquery.3.2.1.min.js')
script(src='/js/popper.min.js')
script(src='/js/bootstrap.min.js')
script(src='/js/now-ui-kit.js?v=1.1.0')
script(src='/js/aos.js')
script(src='/javascripts/main.js')