include head
header
	.profile-page.sidebar-collapse
		nav.navbar.navbar-expand-lg.fixed-top.navbar-transparent.bg-primary(color-on-scroll='400')
			.container
				.navbar-translate
					a.navbar-brand(href='#', rel='tooltip') Curriculo
					button.navbar-toggler.navbar-toggler(type='button', data-toggle='collapse', data-target='#navigation', aria-controls='navigation', aria-expanded='false', aria-label='Toggle navigation')
						span.navbar-toggler-bar.bar1
						span.navbar-toggler-bar.bar2
						span.navbar-toggler-bar.bar3
				#navigation.collapse.navbar-collapse.justify-content-end
					ul.navbar-nav
						li.nav-item
							a.nav-link.smooth-scroll(href='#about') Sobre
						li.nav-item
							a.nav-link.smooth-scroll(href='#skill') Habilidades
						//- li.nav-item
						//- 	a.nav-link.smooth-scroll(href='#portfolio') Portfolio
						li.nav-item
							a.nav-link.smooth-scroll(href='#experience') Experiência
						li.nav-item
							a.nav-link.smooth-scroll(href='#contact') Contato
.page-content
	div
		.profile-page
			.wrapper
				.page-header.page-header-small(filter-color='green')
					.page-header-image(data-parallax='true', style="background-image: url('images/cc-bg-1.jpg');")
					.container
						.content-center
							.cc-profile-image
								a(href='#')
									img(src='images/guilherme.jpg', alt='Image')
							.h2.title Guilherme Gonzalez Vieira
							p.category.text-white Desenvolvedor Web
							a.btn.btn-primary.smooth-scroll.mr-2(href='#contact', data-aos='zoom-in', data-aos-anchor='data-aos-anchor') Entre em contato
							a.btn.btn-primary#downloadLink(href='#', data-aos='zoom-in', data-aos-anchor='data-aos-anchor') Curriculo
					.section
						.container
							.button-container
								a.btn.btn-default.btn-round.btn-lg.btn-icon(href='https://www.facebook.com/guilhermegonzalezv', rel='tooltip', title='Me siga no Facebook')
									i.fa.fa-facebook
								a.btn.btn-default.btn-round.btn-lg.btn-icon(href='https://github.com/guigonzalezv', rel='tooltip', title='Me siga no GitHub')
									i.fa.fa-github
								a.btn.btn-default.btn-round.btn-lg.btn-icon(href='https://www.linkedin.com/in/guilherme-gonzalez/', )
									i.fa.fa-linkedin
		#about.section
			.container
				.card(data-aos='fade-up', data-aos-offset='10')
					.row
						.col-lg-6.col-md-12
							.card-body
								.h4.mt-0.title Sobre
								p.typed
								p
									//- a(href='#', target='_blank') Learn More
						.col-lg-6.col-md-12
							.card-body
								.h4.mt-0.title Informações Básicas 
								.row
									.col-sm-4
										strong.text-uppercase Idade:
									.col-sm-8 19
								.row.mt-3
									.col-sm-4
										strong.text-uppercase Email:
									.col-sm-8 guilherme.gonzalezv@hotmail.com
								.row.mt-3
									.col-sm-4
										strong.text-uppercase Telefone:
									.col-sm-8 (12) 98836-7890
								.row.mt-3
									.col-sm-4
										strong.text-uppercase Linguas:
									.col-sm-8 Português e Ingles
		#skill.section
			.container
				.h4.text-center.mb-4.title Habilidades Profissionais
				.card(data-aos='fade-up', data-aos-anchor-placement='top-bottom')
					.card-body
						.row
							.col-md-2
								a(href="https://angularjs.org/", title='Angular')
									i.devicon-angularjs-plain(style="font-size: 80px; color: black")
							
							.col-md-2
								a(href="https://git-scm.com/", title='Git')
									i.devicon-git-plain(style="font-size: 80px; color: black")

							.col-md-2
								a(href="https://github.com", title='GitHub')
									i.devicon-github-plain-wordmark.colored(style="font-size: 80px; color: black")

							.col-md-2
								a(href="https://www.javascript.com/", title='JavaScript')
									i.devicon-javascript-plain(style="font-size: 80px; color: black")

							.col-md-2
								a(href="https://nodejs.org" , title='NodeJS')
									i.devicon-nodejs-plain-wordmark(style="font-size: 80px; color: black")

							.col-md-2
								a(href="https://www.mysql.com/" , title='MySQL')
									i.devicon-mysql-plain-wordmark(style="font-size: 80px; color: black")
						//- Segunda linha
						.row(style="margin-top: 50px")
							.col-md-2
								a(href="http://php.net/" , title='PHP')
									i.devicon-php-plain(style="font-size: 80px; color: black")
							
							.col-md-2
								a(href="https://www.python.org/" , title='Pyhton')
									i.devicon-python-plain(style="font-size: 80px; color: black")

							.col-md-2
								a(href="https://trello.com/" , title='Trello')
									i.devicon-trello-plain(style="font-size: 80px; color: black")

							.col-md-2
								a(href="https://code.visualstudio.com/" , title='Visual Studio Code')
									i.devicon-visualstudio-plain(style="font-size: 80px; color: black")

							.col-md-2
								a(href="https://www.codeigniter.com/" , title='Codeigniter')
									i.devicon-codeigniter-plain(style="font-size: 80px; color: black")

							.col-md-2
								a(href="http://expressjs.com" , title='Express')
									i.devicon-express-original(style="font-size: 80px; color: black")

						//- Terceira linha
						.row(style="margin-top: 50px")
							.col-md-2
								a(href="https://about.gitlab.com/", title='GitLab')
									i.devicon-gitlab-plain(style="font-size: 80px; color: black")
							
							.col-md-2
								a(href="https://golang.org/", title='GoLang')
									i.devicon-go-plain(style="font-size: 80px; color: black")

							.col-md-2
								a(href="https://www.java.com/", title='Java')
									i.devicon-java-plain(style="font-size: 80px; color: black")

							.col-md-2
								a(href="https://jquery.com/", title='Jquery')
									i.devicon-jquery-plain(style="font-size: 80px; color: black")

							.col-md-2
								a(href="https://www.linux.org/", title='Linux')
									i.devicon-linux-plain(style="font-size: 80px; color: black")

							.col-md-2
								a(href="https://www.mongodb.com/", title='MongoDB')
									i.devicon-mongodb-plain(style="font-size: 80px; color: black")
						
									




									
				
							//- .col-md-6
							//- 	.progress-container.progress-primary
							//- 		span.progress-badge PHP
							//- 		.progress
							//- 			.progress-bar.progress-bar-primary(data-aos='progress-full', data-aos-offset='10', data-aos-duration='2000', role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 75%;')
							//- 			span.progress-value 75%
									
							//- .col-md-6
							//- 	.progress-container.progress-primary
							//- 		span.progress-badge CodeIgniter
							//- 		.progress
							//- 			.progress-bar.progress-bar-primary(data-aos='progress-full', data-aos-offset='10', data-aos-duration='2000', role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 75%;')
							//- 			span.progress-value 75%
						//- .row
						//- 	.col-md-6
						//- 		.progress-container.progress-primary
						//- 			span.progress-badge HTML
						//- 			.progress
						//- 				.progress-bar.progress-bar-primary(data-aos='progress-full', data-aos-offset='10', data-aos-duration='2000', role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;')
						//- 				span.progress-value 60%
						//- 	.col-md-6
						//- 		.progress-container.progress-primary
						//- 			span.progress-badge JavaScript
						//- 			.progress
						//- 				.progress-bar.progress-bar-primary(data-aos='progress-full', data-aos-offset='10', data-aos-duration='2000', role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;')
						//- 				span.progress-value 60%
						//- .row
						//- 	.col-md-6
						//- 		.progress-container.progress-primary
						//- 			span.progress-badge NodeJS
						//- 			.progress
						//- 				.progress-bar.progress-bar-primary(data-aos='progress-full', data-aos-offset='10', data-aos-duration='2000', role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 75%;')
						//- 				span.progress-value 75%
						//- 	.col-md-6
						//- 		.progress-container.progress-primary
						//- 			span.progress-badge MongoDB
						//- 			.progress
						//- 				.progress-bar.progress-bar-primary(data-aos='progress-full', data-aos-offset='10', data-aos-duration='2000', role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 70%;')
						//- 				span.progress-value 70%
		//- #portfolio.section
		//- 	.container
		//- 		.row
		//- 			.col-md-6.ml-auto.mr-auto
		//- 				.h4.text-center.mb-4.title Portfolio
		//- 				.nav-align-center
		//- 					ul.nav.nav-pills.nav-pills-primary(role='tablist')
		//- 						li.nav-item
		//- 							a.nav-link.active(data-toggle='tab', href='#web-development', role='tablist')
		//- 								i.fa.fa-laptop(aria-hidden='true')
		//- 						li.nav-item
		//- 							a.nav-link(data-toggle='tab', href='#graphic-design', role='tablist')
		//- 								i.fa.fa-picture-o(aria-hidden='true')
		//- 						li.nav-item
		//- 							a.nav-link(data-toggle='tab', href='#Photography', role='tablist')
		//- 								i.fa.fa-camera(aria-hidden='true')
		//- 		.tab-content.gallery.mt-5
		//- 			#web-development.tab-pane.active
		//- 				.ml-auto.mr-auto
		//- 					.row
		//- 						.col-md-6
		//- 							.cc-porfolio-image.img-raised(data-aos='fade-up', data-aos-anchor-placement='top-bottom')
		//- 								a(href='#web-development')
		//- 									figure.cc-effect
		//- 										img(src='images/project-1.jpg', alt='Image')
		//- 										figcaption
		//- 											.h4 Recent Project
		//- 											p Web Development
		//- 							.cc-porfolio-image.img-raised(data-aos='fade-up', data-aos-anchor-placement='top-bottom')
		//- 								a(href='#web-development')
		//- 									figure.cc-effect
		//- 										img(src='images/project-2.jpg', alt='Image')
		//- 										figcaption
		//- 											.h4 Startup Project
		//- 											p Web Development
		//- 						.col-md-6
		//- 							.cc-porfolio-image.img-raised(data-aos='fade-up', data-aos-anchor-placement='top-bottom')
		//- 								a(href='#web-development')
		//- 									figure.cc-effect
		//- 										img(src='images/project-3.jpg', alt='Image')
		//- 										figcaption
		//- 											.h4 Food Order Project
		//- 											p Web Development
		//- 							.cc-porfolio-image.img-raised(data-aos='fade-up', data-aos-anchor-placement='top-bottom')
		//- 								a(href='#web-development')
		//- 									figure.cc-effect
		//- 										img(src='images/project-4.jpg', alt='Image')
		//- 										figcaption
		//- 											.h4 Web Advertising Project
		//- 											p Web Development
		//- 			#graphic-design.tab-pane(role='tabpanel')
		//- 				.ml-auto.mr-auto
		//- 					.row
		//- 						.col-md-6
		//- 							.cc-porfolio-image.img-raised(data-aos='fade-up', data-aos-anchor-placement='top-bottom')
		//- 								a(href='#graphic-design')
		//- 									figure.cc-effect
		//- 										img(src='images/graphic-design-1.jpg', alt='Image')
		//- 										figcaption
		//- 											.h4 Triangle Pattern
		//- 											p Graphic Design
		//- 							.cc-porfolio-image.img-raised(data-aos='fade-up', data-aos-anchor-placement='top-bottom')
		//- 								a(href='#graphic-design')
		//- 									figure.cc-effect
		//- 										img(src='images/graphic-design-2.jpg', alt='Image')
		//- 										figcaption
		//- 											.h4 Abstract Umbrella
		//- 											p Graphic Design
		//- 						.col-md-6
		//- 							.cc-porfolio-image.img-raised(data-aos='fade-up', data-aos-anchor-placement='top-bottom')
		//- 								a(href='#graphic-design')
		//- 									figure.cc-effect
		//- 										img(src='images/graphic-design-3.jpg', alt='Image')
		//- 										figcaption
		//- 											.h4 Cube Surface Texture
		//- 											p Graphic Design
		//- 							.cc-porfolio-image.img-raised(data-aos='fade-up', data-aos-anchor-placement='top-bottom')
		//- 								a(href='#graphic-design')
		//- 									figure.cc-effect
		//- 										img(src='images/graphic-design-4.jpg', alt='Image')
		//- 										figcaption
		//- 											.h4 Abstract Line
		//- 											p Graphic Design
		//- 			#Photography.tab-pane(role='tabpanel')
		//- 				.ml-auto.mr-auto
		//- 					.row
		//- 						.col-md-6
		//- 							.cc-porfolio-image.img-raised(data-aos='fade-up', data-aos-anchor-placement='top-bottom')
		//- 								a(href='#Photography')
		//- 									figure.cc-effect
		//- 										img(src='images/photography-1.jpg', alt='Image')
		//- 										figcaption
		//- 											.h4 Photoshoot
		//- 											p Photography
		//- 							.cc-porfolio-image.img-raised(data-aos='fade-up', data-aos-anchor-placement='top-bottom')
		//- 								a(href='#Photography')
		//- 									figure.cc-effect
		//- 										img(src='images/photography-3.jpg', alt='Image')
		//- 										figcaption
		//- 											.h4 Wedding Photoshoot
		//- 											p Photography
		//- 						.col-md-6
		//- 							.cc-porfolio-image.img-raised(data-aos='fade-up', data-aos-anchor-placement='top-bottom')
		//- 								a(href='#Photography')
		//- 									figure.cc-effect
		//- 										img(src='images/photography-2.jpg', alt='Image')
		//- 										figcaption
		//- 											.h4 Beach Photoshoot
		//- 											p Photography
		//- 							.cc-porfolio-image.img-raised(data-aos='fade-up', data-aos-anchor-placement='top-bottom')
		//- 								a(href='#Photography')
		//- 									figure.cc-effect
		//- 										img(src='images/photography-4.jpg', alt='Image')
		//- 										figcaption
		//- 											.h4 Nature Photoshoot
		//- 											p Photography
		#experience.section
			.container.cc-experience
				.h4.text-center.mb-4.title Expêriencia de Trabalho
				.card
					.row
						.col-md-3.bg-primary(data-aos='fade-right', data-aos-offset='50', data-aos-duration='500')
							.card-body.cc-experience-header
								p Novembro de 2016 - Presente Data
								.h5 GMALATO
						.col-md-9(data-aos='fade-left', data-aos-offset='50', data-aos-duration='500')
							.card-body
								.h5 Desenvolvedor Web
								p
		.section
			.container.cc-education
				.h4.text-center.mb-4.title Educação
				.card
					.row
						.col-md-3.bg-primary(data-aos='fade-right', data-aos-offset='50', data-aos-duration='500')
							.card-body.cc-education-header
								p 2018 - 2021
								.h5 ADS
						.col-md-9(data-aos='fade-left', data-aos-offset='50', data-aos-duration='500')
							.card-body
								.h5 Analise e Desenvolvimento de Sistemas
								p.category Instituto Federal de Ciência e Tecnologia do Estado de São Paulo
								p Campus Jacareí
				
		
		#contact.section
			.cc-contact-information(style="background-image: url('images/staticmap.png');")
				.container
					.cc-contact
						.row
							.col-md-9
								.card.mb-0(data-aos='zoom-in')
									.h4.text-center.title Entre em contato
									.row
										//- .col-md-6
										//- 	.card-body
										//- 		form(action='https://formspree.io/your@email.com', method='POST')
										//- 			.p.pb-3
										//- 				strong Feel free to contact me 
										//- 			.row.mb-3
										//- 				.col
										//- 					.input-group
										//- 						span.input-group-addon
										//- 							i.fa.fa-user-circle
										//- 						input.form-control(type='text', name='name', placeholder='Name', required='required')
										//- 			.row.mb-3
										//- 				.col
										//- 					.input-group
										//- 						span.input-group-addon
										//- 							i.fa.fa-file-text
										//- 						input.form-control(type='text', name='Subject', placeholder='Subject', required='required')
										//- 			.row.mb-3
										//- 				.col
										//- 					.input-group
										//- 						span.input-group-addon
										//- 							i.fa.fa-envelope
										//- 						input.form-control(type='email', name='_replyto', placeholder='E-mail', required='required')
										//- 			.row.mb-3
										//- 				.col
										//- 					.form-group
										//- 						textarea.form-control(name='message', placeholder='Your Message', required='required')
										//- 			.row
										//- 				.col
										//- 					button.btn.btn-primary(type='submit') Send
										.col-md-6
											.card-body
												p.mb-0
													strong Telefone
												p.pb-2 (12)98836-7890
												p.mb-0
													strong Email
												p guilherme.gonzalezv@hotmail.com
	include footer
		script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
		script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous")
	
		script.
			$('#downloadLink').click(function(e) {
				e.preventDefault(); //truque para o browser não abrir a página do link
				window.location.href = '/download';
			}); 

			document.addEventListener("DOMContentLoaded", function(event) {
				var options = {
					strings: ["Ola! Meu nome é Guilherme Gonzalez e trabalho como Desenvolvedor Web, sou aluno do Instituto Federal de Educação, Ciência e Tecnologia de Sâo Paulo, Campus Jacareí."],
					typeSpeed: 30,
				}
				var typed = new Typed(".typed", options);	// do typed.js stuff
			});
